.newsletter-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 42px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    color: white;
}

.newsletter-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.newsletter-subtitle {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 0;
}

.newsletter-text p {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.newsletter-input {
    padding: 12px;
    width: 70%;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

.newsletter-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.newsletter-button {
    padding: 12px 20px;
    background-color: #ffffff;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.newsletter-button:hover {
    background-color: #f5f5f5;
}

.newsletter-wrapper {
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.newsletter-wrapper input {
    width: 338px;
    padding: 10px;
    font-size: 14px;
    box-shadow: none;
    outline: 0;
}

.newsletter-sec .newsletter-form {
    margin: 0;
}

.newsletter-wrapper .newsletter-button {
    width: 98px;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}